TimeTable.Web/App_WebReferences/WebServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="getGroups">
        <s:complexType />
      </s:element>
      <s:element name="getGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGroupsResult" type="tns:ArrayOfGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Group">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGroupResult" type="tns:Group" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="getSubGroups">
        <s:complexType />
      </s:element>
      <s:element name="getSubGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSubGroupsResult" type="tns:ArrayOfSubGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubGroup" nillable="true" type="tns:SubGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubGroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSubGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSubGroupResult" type="tns:SubGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertSubGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertSubGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSubGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateSubGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteSubGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="getWeeks">
        <s:complexType />
      </s:element>
      <s:element name="getWeeksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWeeksResult" type="tns:ArrayOfWeek" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWeek">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Week" nillable="true" type="tns:Week" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Week">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWeekResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWeekResult" type="tns:Week" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertWeekResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertWeekResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateWeekResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateWeekResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteWeekResponse">
        <s:complexType />
      </s:element>
      <s:element name="getCabinets">
        <s:complexType />
      </s:element>
      <s:element name="getCabinetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCabinetsResult" type="tns:ArrayOfCabinet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCabinet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cabinet" nillable="true" type="tns:Cabinet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cabinet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCabinet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCabinetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCabinetResult" type="tns:Cabinet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCabinet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCabinetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertCabinetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCabinet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCabinetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateCabinetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCabinet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCabinetResponse">
        <s:complexType />
      </s:element>
      <s:element name="getLecturers">
        <s:complexType />
      </s:element>
      <s:element name="getLecturersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLecturersResult" type="tns:ArrayOfLecturer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLecturer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lecturer" nillable="true" type="tns:Lecturer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lecturer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLecturer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLecturerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLecturerResult" type="tns:Lecturer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertLecturer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertLecturerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertLecturerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateLecturer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateLecturerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateLecturerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLecturer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLecturerResponse">
        <s:complexType />
      </s:element>
      <s:element name="getLectureTitles">
        <s:complexType />
      </s:element>
      <s:element name="getLectureTitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLectureTitlesResult" type="tns:ArrayOfLectureTitle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLectureTitle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LectureTitle" nillable="true" type="tns:LectureTitle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LectureTitle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLectureTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLectureTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLectureTitleResult" type="tns:LectureTitle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertLectureTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertLectureTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertLectureTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateLectureTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateLectureTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateLectureTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLectureTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLectureTitleResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:getGroups" />
  </wsdl:message>
  <wsdl:message name="getGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:getGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="getGroupSoapIn">
    <wsdl:part name="parameters" element="tns:getGroup" />
  </wsdl:message>
  <wsdl:message name="getGroupSoapOut">
    <wsdl:part name="parameters" element="tns:getGroupResponse" />
  </wsdl:message>
  <wsdl:message name="insertGroupSoapIn">
    <wsdl:part name="parameters" element="tns:insertGroup" />
  </wsdl:message>
  <wsdl:message name="insertGroupSoapOut">
    <wsdl:part name="parameters" element="tns:insertGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:updateGroup" />
  </wsdl:message>
  <wsdl:message name="updateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:updateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupSoapIn">
    <wsdl:part name="parameters" element="tns:deleteGroup" />
  </wsdl:message>
  <wsdl:message name="deleteGroupSoapOut">
    <wsdl:part name="parameters" element="tns:deleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getSubGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:getSubGroups" />
  </wsdl:message>
  <wsdl:message name="getSubGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:getSubGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="getSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:getSubGroup" />
  </wsdl:message>
  <wsdl:message name="getSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:getSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="insertSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:insertSubGroup" />
  </wsdl:message>
  <wsdl:message name="insertSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:insertSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:updateSubGroup" />
  </wsdl:message>
  <wsdl:message name="updateSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:updateSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:deleteSubGroup" />
  </wsdl:message>
  <wsdl:message name="deleteSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:deleteSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getWeeksSoapIn">
    <wsdl:part name="parameters" element="tns:getWeeks" />
  </wsdl:message>
  <wsdl:message name="getWeeksSoapOut">
    <wsdl:part name="parameters" element="tns:getWeeksResponse" />
  </wsdl:message>
  <wsdl:message name="getWeekSoapIn">
    <wsdl:part name="parameters" element="tns:getWeek" />
  </wsdl:message>
  <wsdl:message name="getWeekSoapOut">
    <wsdl:part name="parameters" element="tns:getWeekResponse" />
  </wsdl:message>
  <wsdl:message name="insertWeekSoapIn">
    <wsdl:part name="parameters" element="tns:insertWeek" />
  </wsdl:message>
  <wsdl:message name="insertWeekSoapOut">
    <wsdl:part name="parameters" element="tns:insertWeekResponse" />
  </wsdl:message>
  <wsdl:message name="updateWeekSoapIn">
    <wsdl:part name="parameters" element="tns:updateWeek" />
  </wsdl:message>
  <wsdl:message name="updateWeekSoapOut">
    <wsdl:part name="parameters" element="tns:updateWeekResponse" />
  </wsdl:message>
  <wsdl:message name="deleteWeekSoapIn">
    <wsdl:part name="parameters" element="tns:deleteWeek" />
  </wsdl:message>
  <wsdl:message name="deleteWeekSoapOut">
    <wsdl:part name="parameters" element="tns:deleteWeekResponse" />
  </wsdl:message>
  <wsdl:message name="getCabinetsSoapIn">
    <wsdl:part name="parameters" element="tns:getCabinets" />
  </wsdl:message>
  <wsdl:message name="getCabinetsSoapOut">
    <wsdl:part name="parameters" element="tns:getCabinetsResponse" />
  </wsdl:message>
  <wsdl:message name="getCabinetSoapIn">
    <wsdl:part name="parameters" element="tns:getCabinet" />
  </wsdl:message>
  <wsdl:message name="getCabinetSoapOut">
    <wsdl:part name="parameters" element="tns:getCabinetResponse" />
  </wsdl:message>
  <wsdl:message name="insertCabinetSoapIn">
    <wsdl:part name="parameters" element="tns:insertCabinet" />
  </wsdl:message>
  <wsdl:message name="insertCabinetSoapOut">
    <wsdl:part name="parameters" element="tns:insertCabinetResponse" />
  </wsdl:message>
  <wsdl:message name="updateCabinetSoapIn">
    <wsdl:part name="parameters" element="tns:updateCabinet" />
  </wsdl:message>
  <wsdl:message name="updateCabinetSoapOut">
    <wsdl:part name="parameters" element="tns:updateCabinetResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCabinetSoapIn">
    <wsdl:part name="parameters" element="tns:deleteCabinet" />
  </wsdl:message>
  <wsdl:message name="deleteCabinetSoapOut">
    <wsdl:part name="parameters" element="tns:deleteCabinetResponse" />
  </wsdl:message>
  <wsdl:message name="getLecturersSoapIn">
    <wsdl:part name="parameters" element="tns:getLecturers" />
  </wsdl:message>
  <wsdl:message name="getLecturersSoapOut">
    <wsdl:part name="parameters" element="tns:getLecturersResponse" />
  </wsdl:message>
  <wsdl:message name="getLecturerSoapIn">
    <wsdl:part name="parameters" element="tns:getLecturer" />
  </wsdl:message>
  <wsdl:message name="getLecturerSoapOut">
    <wsdl:part name="parameters" element="tns:getLecturerResponse" />
  </wsdl:message>
  <wsdl:message name="insertLecturerSoapIn">
    <wsdl:part name="parameters" element="tns:insertLecturer" />
  </wsdl:message>
  <wsdl:message name="insertLecturerSoapOut">
    <wsdl:part name="parameters" element="tns:insertLecturerResponse" />
  </wsdl:message>
  <wsdl:message name="updateLecturerSoapIn">
    <wsdl:part name="parameters" element="tns:updateLecturer" />
  </wsdl:message>
  <wsdl:message name="updateLecturerSoapOut">
    <wsdl:part name="parameters" element="tns:updateLecturerResponse" />
  </wsdl:message>
  <wsdl:message name="deleteLecturerSoapIn">
    <wsdl:part name="parameters" element="tns:deleteLecturer" />
  </wsdl:message>
  <wsdl:message name="deleteLecturerSoapOut">
    <wsdl:part name="parameters" element="tns:deleteLecturerResponse" />
  </wsdl:message>
  <wsdl:message name="getLectureTitlesSoapIn">
    <wsdl:part name="parameters" element="tns:getLectureTitles" />
  </wsdl:message>
  <wsdl:message name="getLectureTitlesSoapOut">
    <wsdl:part name="parameters" element="tns:getLectureTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="getLectureTitleSoapIn">
    <wsdl:part name="parameters" element="tns:getLectureTitle" />
  </wsdl:message>
  <wsdl:message name="getLectureTitleSoapOut">
    <wsdl:part name="parameters" element="tns:getLectureTitleResponse" />
  </wsdl:message>
  <wsdl:message name="insertLectureTitleSoapIn">
    <wsdl:part name="parameters" element="tns:insertLectureTitle" />
  </wsdl:message>
  <wsdl:message name="insertLectureTitleSoapOut">
    <wsdl:part name="parameters" element="tns:insertLectureTitleResponse" />
  </wsdl:message>
  <wsdl:message name="updateLectureTitleSoapIn">
    <wsdl:part name="parameters" element="tns:updateLectureTitle" />
  </wsdl:message>
  <wsdl:message name="updateLectureTitleSoapOut">
    <wsdl:part name="parameters" element="tns:updateLectureTitleResponse" />
  </wsdl:message>
  <wsdl:message name="deleteLectureTitleSoapIn">
    <wsdl:part name="parameters" element="tns:deleteLectureTitle" />
  </wsdl:message>
  <wsdl:message name="deleteLectureTitleSoapOut">
    <wsdl:part name="parameters" element="tns:deleteLectureTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getGroups">
      <wsdl:input message="tns:getGroupsSoapIn" />
      <wsdl:output message="tns:getGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <wsdl:input message="tns:getGroupSoapIn" />
      <wsdl:output message="tns:getGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertGroup">
      <wsdl:input message="tns:insertGroupSoapIn" />
      <wsdl:output message="tns:insertGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:input message="tns:updateGroupSoapIn" />
      <wsdl:output message="tns:updateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input message="tns:deleteGroupSoapIn" />
      <wsdl:output message="tns:deleteGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSubGroups">
      <wsdl:input message="tns:getSubGroupsSoapIn" />
      <wsdl:output message="tns:getSubGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSubGroup">
      <wsdl:input message="tns:getSubGroupSoapIn" />
      <wsdl:output message="tns:getSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertSubGroup">
      <wsdl:input message="tns:insertSubGroupSoapIn" />
      <wsdl:output message="tns:insertSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSubGroup">
      <wsdl:input message="tns:updateSubGroupSoapIn" />
      <wsdl:output message="tns:updateSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <wsdl:input message="tns:deleteSubGroupSoapIn" />
      <wsdl:output message="tns:deleteSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWeeks">
      <wsdl:input message="tns:getWeeksSoapIn" />
      <wsdl:output message="tns:getWeeksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWeek">
      <wsdl:input message="tns:getWeekSoapIn" />
      <wsdl:output message="tns:getWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertWeek">
      <wsdl:input message="tns:insertWeekSoapIn" />
      <wsdl:output message="tns:insertWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateWeek">
      <wsdl:input message="tns:updateWeekSoapIn" />
      <wsdl:output message="tns:updateWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteWeek">
      <wsdl:input message="tns:deleteWeekSoapIn" />
      <wsdl:output message="tns:deleteWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCabinets">
      <wsdl:input message="tns:getCabinetsSoapIn" />
      <wsdl:output message="tns:getCabinetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCabinet">
      <wsdl:input message="tns:getCabinetSoapIn" />
      <wsdl:output message="tns:getCabinetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertCabinet">
      <wsdl:input message="tns:insertCabinetSoapIn" />
      <wsdl:output message="tns:insertCabinetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCabinet">
      <wsdl:input message="tns:updateCabinetSoapIn" />
      <wsdl:output message="tns:updateCabinetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCabinet">
      <wsdl:input message="tns:deleteCabinetSoapIn" />
      <wsdl:output message="tns:deleteCabinetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLecturers">
      <wsdl:input message="tns:getLecturersSoapIn" />
      <wsdl:output message="tns:getLecturersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLecturer">
      <wsdl:input message="tns:getLecturerSoapIn" />
      <wsdl:output message="tns:getLecturerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertLecturer">
      <wsdl:input message="tns:insertLecturerSoapIn" />
      <wsdl:output message="tns:insertLecturerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateLecturer">
      <wsdl:input message="tns:updateLecturerSoapIn" />
      <wsdl:output message="tns:updateLecturerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteLecturer">
      <wsdl:input message="tns:deleteLecturerSoapIn" />
      <wsdl:output message="tns:deleteLecturerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLectureTitles">
      <wsdl:input message="tns:getLectureTitlesSoapIn" />
      <wsdl:output message="tns:getLectureTitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLectureTitle">
      <wsdl:input message="tns:getLectureTitleSoapIn" />
      <wsdl:output message="tns:getLectureTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertLectureTitle">
      <wsdl:input message="tns:insertLectureTitleSoapIn" />
      <wsdl:output message="tns:insertLectureTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateLectureTitle">
      <wsdl:input message="tns:updateLectureTitleSoapIn" />
      <wsdl:output message="tns:updateLectureTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteLectureTitle">
      <wsdl:input message="tns:deleteLectureTitleSoapIn" />
      <wsdl:output message="tns:deleteLectureTitleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="http://localhost/getGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <soap:operation soapAction="http://localhost/getGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGroup">
      <soap:operation soapAction="http://localhost/insertGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction="http://localhost/updateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="http://localhost/deleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubGroups">
      <soap:operation soapAction="http://localhost/getSubGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubGroup">
      <soap:operation soapAction="http://localhost/getSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSubGroup">
      <soap:operation soapAction="http://localhost/insertSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubGroup">
      <soap:operation soapAction="http://localhost/updateSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <soap:operation soapAction="http://localhost/deleteSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeeks">
      <soap:operation soapAction="http://localhost/getWeeks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeek">
      <soap:operation soapAction="http://localhost/getWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertWeek">
      <soap:operation soapAction="http://localhost/insertWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWeek">
      <soap:operation soapAction="http://localhost/updateWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWeek">
      <soap:operation soapAction="http://localhost/deleteWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCabinets">
      <soap:operation soapAction="http://localhost/getCabinets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCabinet">
      <soap:operation soapAction="http://localhost/getCabinet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCabinet">
      <soap:operation soapAction="http://localhost/insertCabinet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCabinet">
      <soap:operation soapAction="http://localhost/updateCabinet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCabinet">
      <soap:operation soapAction="http://localhost/deleteCabinet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLecturers">
      <soap:operation soapAction="http://localhost/getLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLecturer">
      <soap:operation soapAction="http://localhost/getLecturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLecturer">
      <soap:operation soapAction="http://localhost/insertLecturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLecturer">
      <soap:operation soapAction="http://localhost/updateLecturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLecturer">
      <soap:operation soapAction="http://localhost/deleteLecturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLectureTitles">
      <soap:operation soapAction="http://localhost/getLectureTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLectureTitle">
      <soap:operation soapAction="http://localhost/getLectureTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLectureTitle">
      <soap:operation soapAction="http://localhost/insertLectureTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLectureTitle">
      <soap:operation soapAction="http://localhost/updateLectureTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLectureTitle">
      <soap:operation soapAction="http://localhost/deleteLectureTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGroups">
      <soap12:operation soapAction="http://localhost/getGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <soap12:operation soapAction="http://localhost/getGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGroup">
      <soap12:operation soapAction="http://localhost/insertGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap12:operation soapAction="http://localhost/updateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap12:operation soapAction="http://localhost/deleteGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubGroups">
      <soap12:operation soapAction="http://localhost/getSubGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubGroup">
      <soap12:operation soapAction="http://localhost/getSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSubGroup">
      <soap12:operation soapAction="http://localhost/insertSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubGroup">
      <soap12:operation soapAction="http://localhost/updateSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <soap12:operation soapAction="http://localhost/deleteSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeeks">
      <soap12:operation soapAction="http://localhost/getWeeks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeek">
      <soap12:operation soapAction="http://localhost/getWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertWeek">
      <soap12:operation soapAction="http://localhost/insertWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWeek">
      <soap12:operation soapAction="http://localhost/updateWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWeek">
      <soap12:operation soapAction="http://localhost/deleteWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCabinets">
      <soap12:operation soapAction="http://localhost/getCabinets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCabinet">
      <soap12:operation soapAction="http://localhost/getCabinet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCabinet">
      <soap12:operation soapAction="http://localhost/insertCabinet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCabinet">
      <soap12:operation soapAction="http://localhost/updateCabinet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCabinet">
      <soap12:operation soapAction="http://localhost/deleteCabinet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLecturers">
      <soap12:operation soapAction="http://localhost/getLecturers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLecturer">
      <soap12:operation soapAction="http://localhost/getLecturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLecturer">
      <soap12:operation soapAction="http://localhost/insertLecturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLecturer">
      <soap12:operation soapAction="http://localhost/updateLecturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLecturer">
      <soap12:operation soapAction="http://localhost/deleteLecturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLectureTitles">
      <soap12:operation soapAction="http://localhost/getLectureTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLectureTitle">
      <soap12:operation soapAction="http://localhost/getLectureTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLectureTitle">
      <soap12:operation soapAction="http://localhost/insertLectureTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLectureTitle">
      <soap12:operation soapAction="http://localhost/updateLectureTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLectureTitle">
      <soap12:operation soapAction="http://localhost/deleteLectureTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:61243/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:61243/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>