TimeTable.Web/App_WebReferences/WebServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="getGroups">
        <s:complexType />
      </s:element>
      <s:element name="getGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGroupsResult" type="tns:ArrayOfGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Group">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="getSubGroups">
        <s:complexType />
      </s:element>
      <s:element name="getSubGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSubGroupsResult" type="tns:ArrayOfSubGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubGroup" nillable="true" type="tns:SubGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubGroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertSubGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSubGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteSubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteSubGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="getWeeks">
        <s:complexType />
      </s:element>
      <s:element name="getWeeksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWeeksResult" type="tns:ArrayOfWeek" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWeek">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Week" nillable="true" type="tns:Week" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Week">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertWeekResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateWeekResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteWeekResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:getGroups" />
  </wsdl:message>
  <wsdl:message name="getGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:getGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="insertGroupSoapIn">
    <wsdl:part name="parameters" element="tns:insertGroup" />
  </wsdl:message>
  <wsdl:message name="insertGroupSoapOut">
    <wsdl:part name="parameters" element="tns:insertGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:updateGroup" />
  </wsdl:message>
  <wsdl:message name="updateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:updateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupSoapIn">
    <wsdl:part name="parameters" element="tns:deleteGroup" />
  </wsdl:message>
  <wsdl:message name="deleteGroupSoapOut">
    <wsdl:part name="parameters" element="tns:deleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getSubGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:getSubGroups" />
  </wsdl:message>
  <wsdl:message name="getSubGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:getSubGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="insertSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:insertSubGroup" />
  </wsdl:message>
  <wsdl:message name="insertSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:insertSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:updateSubGroup" />
  </wsdl:message>
  <wsdl:message name="updateSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:updateSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:deleteSubGroup" />
  </wsdl:message>
  <wsdl:message name="deleteSubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:deleteSubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getWeeksSoapIn">
    <wsdl:part name="parameters" element="tns:getWeeks" />
  </wsdl:message>
  <wsdl:message name="getWeeksSoapOut">
    <wsdl:part name="parameters" element="tns:getWeeksResponse" />
  </wsdl:message>
  <wsdl:message name="insertWeekSoapIn">
    <wsdl:part name="parameters" element="tns:insertWeek" />
  </wsdl:message>
  <wsdl:message name="insertWeekSoapOut">
    <wsdl:part name="parameters" element="tns:insertWeekResponse" />
  </wsdl:message>
  <wsdl:message name="updateWeekSoapIn">
    <wsdl:part name="parameters" element="tns:updateWeek" />
  </wsdl:message>
  <wsdl:message name="updateWeekSoapOut">
    <wsdl:part name="parameters" element="tns:updateWeekResponse" />
  </wsdl:message>
  <wsdl:message name="deleteWeekSoapIn">
    <wsdl:part name="parameters" element="tns:deleteWeek" />
  </wsdl:message>
  <wsdl:message name="deleteWeekSoapOut">
    <wsdl:part name="parameters" element="tns:deleteWeekResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getGroups">
      <wsdl:input message="tns:getGroupsSoapIn" />
      <wsdl:output message="tns:getGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertGroup">
      <wsdl:input message="tns:insertGroupSoapIn" />
      <wsdl:output message="tns:insertGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:input message="tns:updateGroupSoapIn" />
      <wsdl:output message="tns:updateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input message="tns:deleteGroupSoapIn" />
      <wsdl:output message="tns:deleteGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSubGroups">
      <wsdl:input message="tns:getSubGroupsSoapIn" />
      <wsdl:output message="tns:getSubGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertSubGroup">
      <wsdl:input message="tns:insertSubGroupSoapIn" />
      <wsdl:output message="tns:insertSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSubGroup">
      <wsdl:input message="tns:updateSubGroupSoapIn" />
      <wsdl:output message="tns:updateSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <wsdl:input message="tns:deleteSubGroupSoapIn" />
      <wsdl:output message="tns:deleteSubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWeeks">
      <wsdl:input message="tns:getWeeksSoapIn" />
      <wsdl:output message="tns:getWeeksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertWeek">
      <wsdl:input message="tns:insertWeekSoapIn" />
      <wsdl:output message="tns:insertWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateWeek">
      <wsdl:input message="tns:updateWeekSoapIn" />
      <wsdl:output message="tns:updateWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteWeek">
      <wsdl:input message="tns:deleteWeekSoapIn" />
      <wsdl:output message="tns:deleteWeekSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="http://localhost/getGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGroup">
      <soap:operation soapAction="http://localhost/insertGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction="http://localhost/updateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="http://localhost/deleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubGroups">
      <soap:operation soapAction="http://localhost/getSubGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSubGroup">
      <soap:operation soapAction="http://localhost/insertSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubGroup">
      <soap:operation soapAction="http://localhost/updateSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <soap:operation soapAction="http://localhost/deleteSubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeeks">
      <soap:operation soapAction="http://localhost/getWeeks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertWeek">
      <soap:operation soapAction="http://localhost/insertWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWeek">
      <soap:operation soapAction="http://localhost/updateWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWeek">
      <soap:operation soapAction="http://localhost/deleteWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGroups">
      <soap12:operation soapAction="http://localhost/getGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGroup">
      <soap12:operation soapAction="http://localhost/insertGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap12:operation soapAction="http://localhost/updateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap12:operation soapAction="http://localhost/deleteGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubGroups">
      <soap12:operation soapAction="http://localhost/getSubGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSubGroup">
      <soap12:operation soapAction="http://localhost/insertSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubGroup">
      <soap12:operation soapAction="http://localhost/updateSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <soap12:operation soapAction="http://localhost/deleteSubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeeks">
      <soap12:operation soapAction="http://localhost/getWeeks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertWeek">
      <soap12:operation soapAction="http://localhost/insertWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWeek">
      <soap12:operation soapAction="http://localhost/updateWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWeek">
      <soap12:operation soapAction="http://localhost/deleteWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:61243/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:61243/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>